.header {
    display: flex;
    justify-content: space-between;
}

img {
    width: 400px;
    height: 250px;
    flex-shrink: 0;
}

.hero {
    display: flex;
    justify-content: center;
}

.text-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.top {
    max-height: 30%;
}