.header {
    display: flex;
    justify-content: space-between;
    color: white;
}

img {
    width: 400px;
    height: 250px;
    flex-shrink: 0;
}

.hero {
    display: flex;
    justify-content: center;
}

.text-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.top {
    max-height: 40%;
    background-color: #1F2937;
}

a {
    text-decoration: none;
    color: white;
}

.main-title {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.main-text {
    font-size: 18px;
    color: #E5E7EB;
}
