.header {
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 20px;
    font-size: 24px;
}

img {
    width: 500px;
    height: 250px;
    flex-shrink: 0;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 360px;
    padding-top: 50px;
    padding-bottom: 70px;
}

.text-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    max-width: 400px;
}

.top {
    max-height: 40%;
    background-color: #1F2937;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
    margin-right: 18px;
}

.main-title {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.main-text {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 12px;
    padding: 5px 25px;
    font-weight: bold;
    margin-top: 8px;
}